body{
  font-family: 'Poppins', sans-serif;
}

#carousel{
    max-height: 400px;
  }
  #card{
    max-width: 18rem;
  }
 
.book-card {
  transition: transform 0.3s ease-in-out;
}

.book-card:hover {
  transform: scale(1.05);
}
/* Login.css */
.glassmorphism {
  background: rgba(255, 255, 255, 0.1); /* Adjust the alpha (last value) to control transparency */
  backdrop-filter: blur(8px); /* Adjust blur amount as needed */
  border: 1px solid rgba(255, 255, 255, 0.18); /* Optional border for contrast */
  border-radius: 10px; /* Optional border radius for rounded corners */
  padding: 20px;
  margin-top: 20px;
  transition: background 0.3s ease-in-out;
}

.glassmorphism:hover {
  background: rgba(255, 255, 255, 0.078); /* Adjust hover transparency */
}

/* Add styles for the parallax effect */


.custom-shadow {
  box-shadow: 5px 5px 10px #ff0000; /* Change #ff0000 to the desired shadow color */
}

:root {
  --card-gradient2: linear-gradient(to right, #1ABC9C, #2ECC71);
  --card-gradient: linear-gradient(to right, #f53900, #b2cc2e);
}

/* .cardbg {
  background: var(--card-gradient2);

}

.cardbg2 {
  background: var(--card-gradient);
  Other button styles
} */
